body{
	background-color: white;
	color: rgb(50,50,50);
	font-size: 16px;
	font-family: SourceCode,"Arial";
}

#logo_div{
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}

#pool_action{
	color: rgb(100,100,180); 
	font-size: 14px; 
	cursor: pointer;
	display: none;
}

#pool_action:hover{
	text-decoration: underline;;
}

#logo_img{
	max-width: 415px;
	height: auto;
}

#menu_div{
	text-align: center;
	font-size: 16px;
	padding: 17px;
}

#metamask_div{
	text-align: right;
	font-size: 16px;
	padding: 15px;
}

#mid_div{
	margin-top: 100px;
	text-align: center;
}

#bottom_div{
	margin-top: 100px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: rgb(100,100,100);
}

.menu_item{
	display: inline-block; 
	text-align: center; 
	padding-left: 10px; 
	padding-right: 10px;
}

.price_panel{
	display: inline-block;
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.info_div{
	border: 2px solid black;
	background-image: linear-gradient(rgb(250,250,250), rgb(255,255,255), rgb(250,250,250), rgb(250,250,250));
	text-align: center;
	padding: 10px;
	display: inline-block;
	width: 350px;
	margin: 10px;
	font-size: 16px;
	vertical-align: top;
	min-height: 470px;
}

.info_window{
	border: 2px solid rgb(100,100,100); 
	background-color: white; 
	padding: 10px;
	font-size: 12px;
	margin-top: 10px;
	word-wrap: break-word;
}

.unlock_div{
	margin-top: 20px; 
	display: none; 
	padding-top: 50px;
}

.unlock_wrap_div{
	padding-top: 35px;
	display: none;
}

.left_item{
	display: inline-block;
	width: 48%;
	text-align: left;
	font-weight: bold;
	vertical-align: top;
}

.right_item{
	display: inline-block;
	width: 48%;
	text-align: right;
	font-weight: bold;
	vertical-align: top;
}

.input_box{
	margin-top: 5px;
	padding: 5px;
	font-size: 14px; 
	width: 100%;
	text-align: left; 
	background: none; 
	border-radius: 2px;
	border: 1px solid rgb(200,200,200);
}

.light_button{
	color: rgb(40,40,40);
	background-color: white;
	border: 2px solid black;
	cursor: pointer;
	min-width: 160px;
	padding: 10px;
	font-size: 14px;
	margin: 10px;
}

.light_button:hover{
	background-color: rgb(245,245,245);
}

.dark_button{
	color: white;
	background-color: rgb(40,20,20);
	border: 2px solid black;
	cursor: pointer;
	min-width: 160px;
	padding: 10px;
	font-size: 14px;
	margin: 10px;
}

.dark_button:hover{
	background-color: rgb(50,30,30);
}

.general_info_div{
	display: inline-block;
	color: rgb(40,40,40); 
	font-size: 14px; 
	margin-bottom: 30px; 
	margin-left: 20px;
	margin-right: 20px;
	border: 2px solid black; 
	min-width: 300px;
	padding: 10px;	
}

.explainer_div{
	max-width: 800px;
	color: rgb(40,40,40); 
	font-size: 14px; 
	margin-bottom: 30px; 
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black; 
	padding: 10px;	
}

.button_style{
	color: rgb(50,50,50); 
	padding: 15px; 
	padding-left: 40px;
	padding-right: 40px;
	min-width: 100px;
	margin: 10px;
	background-image: linear-gradient(rgb(240,240,240), rgb(245,245,245), rgb(240,240,240), rgb(230,230,230));
	border-radius: 30px; 
	font-size: 20px; 
	border: none;
}

.button_style:hover{
	background-image: linear-gradient(rgb(230,230,250), rgb(235,235,255), rgb(230,230,250), rgb(220,220,240));
}

.small_button_style{
	color: rgb(50,50,50); 
	padding: 5px; 
	padding-left: 20px;
	padding-right: 20px;
	min-width: 100px;
	background-image: linear-gradient(rgb(240,240,240), rgb(245,245,245), rgb(240,240,240), rgb(230,230,230));
	border-radius: 15px; 
	font-size: 14px; 
	border: 1px solid rgb(200,200,200);
	margin: 5px;
}

.small_button_style:hover{
	background-image: linear-gradient(rgb(180,225,180), rgb(220,255,220), rgb(220,245,220), rgb(230,230,230));
}

.link_footer{
	min-width: 150px;
	text-align: center;
	display: inline-block;
}

.social_link{
	opacity: 0.5;
	transition: opacity 0.5s ease;
	vertical-align: middle;
}

.social_link:hover{
	opacity: 1;
}

.withdraw_request_box{
	color: rgb(40,40,40);
	background-color: white;
	border: 2px solid black;
	cursor: pointer;
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
}

.withdraw_request_inner_left{
	text-align: center;
	display: inline-block; 
	width: 75px; 
	margin: 0px;
	padding: 15px;
	font-size: 30px;
	border-right: 2px solid black;
	vertical-align: top;
}

.withdraw_request_inner_right{
	display: inline-block;
	text-align: left;
	font-size: 14px;
	padding-top: 2px;
	padding-left: 8px;
	padding-bottom: 0px;
	vertical-align: top;
}

.withdraw_request_box:hover{
	background-color: rgb(225,225,225);
}

#metamask_interactive{
	display: inline-block;
	border: 2px solid black; 
	padding: 2px; 
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer; 
	max-width: 100%;
	word-wrap: break-word;
}

#metamask_interactive:hover{
	text-decoration: underline;
}

#request_column {
	border-left: 2px solid rgb(200,200,200);
}

@media screen and (max-width: 991px) {
	#logo_div{
		text-align: center;
	}
	#metamask_div{
		text-align: center;
	}
	.left_item{
		width: 100%;
		text-align: center;
	}

	.right_item{
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
	.unlock_div{
		padding-top: 0px;
	}
	.menu_item{
		display: inline-block; 
		text-align: center; 
		padding-left: 20px; 
		padding-right: 20px;
		padding-bottom: 10px;
	}
	.unlock_wrap_div{
		padding-top: 0px;
	}
	#logo_img{
		max-width: 300px;
	}
	#request_column {
		border-left: none;
	}
}